/* For effects, see https://tympanus.net/Tutorials/CreativeCSS3AnimationMenus/index2.html */

/* For the CSS target: selector technique, see also: https://developer.mozilla.org/en-US/docs/Web/CSS/:target*/

/* For the CSS accordion with the checkbox hack: https://code-boxx.com/simple-responsive-accordion-pure-css/
*/

/* For using <picture> to support svgs with fallbacks, see:
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/picture
https://www.sarasoueidan.com/blog/svg-picture/
*/

/*
Example of multi-column footer with flexbox:
https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-multi-level-sticky-footer-with-flexbox--cms-33341
*/

/* Possibly restyle lists when ::marker pseudoelement gains wider browser support. */

/* Dropdown navigation menus and why it's best to avoid them in simple websites:
https://www.nngroup.com/articles/drop-down-menus/
*/

/*
Icon fonts didn't load on Android; replaced by PNG icons.
*/

/*
TYPE SCALE: Major Second 1.125
running text: 1em
navbar links: 1.125em
h1 {font-size: 1.802em;}
h2 {font-size: 1.602em;}
h3 {font-size: 1.424em;}
h4 {font-size: 1.266em;}
h5 {font-size: 1.125em;}
h6 {font-size: 0.889em;}
small, .text_small {font-size: 0.889em;}
*/


:root {
  /*FONTS*/
  --bodytext: 'Raleway', Arial, sans-serif;
  --medium-text: 'Raleway Medium', Arial, Helvetica, sans-serif;
  --semibold-text: 'Raleway Semibold', Arial, sans-serif;
  /*COLOURS - ACCENTS*/
  --accent-colour1: #4EDCC9;    /*base colour: Pantone #4EDCCA*/
  --accent-colour2: #71E3D3;    /*base colour: Pantone #4EDCCA*/
  /* #CA9171; */
  /*COLOURS - BACKGROUNDS*/
  --body-bckg-colour: 	#F8F9F8;
  --bckg-colour-darker1: #e4906f;   /*tint of Pantone #de754c*/
  --bckg-colour-darker2: #e79e81;   /*tint of Pantone #de754c*/
  --list-marker-colour-even: 	#30BFBF;  /*Crayola Maximum Blue Green*/
  --list-marker-colour-odd:  	#00CCCC;  /*Crayola Robin's Egg Blue*/
  --basic-txt-bckg: #e3e4cd;        /* tint of Pantone #c7ca9c*/
  --basic-txt-bckg-dk1: #dddec2;  /* tint of Pantone #c7ca9c*/
  --basic-txt-bckg-dk2: 	rgba(204, 205, 184, 0.918); /*Reduced opacity of shade of basic-txt-bckg #CCCDB8;*/
  --basic-txt-bckg-lgt1: 	#EBECDC;
  --basic-txt-bckg-lgt2: 	#E8E9D7;
  --section-bckg-grey: #dcddc6;
  --sliding-menu-bckg: #e4906f;     /*tint of Pantone #de754c*/
  /*COLOURS - LINKS*/
  --linkcolour-unv: #6F3A26;     /*shade of Pantone #de754c*/
  /*COLOURS - TEXT*/
  --basic-txt-colour: #1f1812;  /*shade of cocoabrown #35281e  | on body bckg: WCAGAAA: 16.61:1 | on copper bckg: WCGAAA: 8.02:1 |  on selection-highlight: WCAGAAA: 12.83:1*/
  /*TEXT SIZES*/
  --bodytext-size: 1em;
  --navbar-link-size: 1.125em;
  --h1-font-size: 1.802em;
  --h2-font-size: 1.602em;
  --h3-font-size: 1.424em;
  --h4-font-size: 1.266em;
  --h5-font-size: 1.125em;
  --h6-font-size: 0.889em;
  --small-text: 0.889em;
}

@font-face {
  font-family: 'Raleway';
  src: 
    local('Raleway'),
    url('Assets/Fonts/Raleway-Regular.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src:
  local('Raleway-Medium'),
  url('Assets/Fonts/Raleway-Medium.ttf'),
  format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src:
  local('Raleway-SemiBold'),
  url('Assets/Fonts/Raleway-SemiBold.ttf'),
  format('truetype');
}

.social-icon {
  height: 1.75em;
  vertical-align: middle;
}

/*----- MOBILE FIRST ----*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: var(--bodytext, Arial, Helvetica, sans-serif);
  font-size: calc(12px + 0.4vw);
  background-color: var(--body-bckg-colour);
 }


/*--HIGHLIGHT SELECTED TEXT--*/
body ::selection {
  color: #a55641;       /*Shade of Pantone Copper Coin*/
  background: #9cebe0;  /*Tint of accent colour*/
}

header, footer {
  width: 100vw;
}


header {
  display: flex;
  height: max-content;
  margin-bottom: 15px;
  background-color: var(--body-bckg-colour);
}

/* Shift sidebar to bottom of mobile screen. */

#sidebar {
  grid-column: span 12;
  grid-row: 4 / 5;
  background-color: var(--body-bckg-colour);
}

/*
--Add a fixed-height row for sidebar to the grid of 'main.
--ESSENTIAL: add flex: 1 to 'main' to ensure the footer is sticky.
-- Where >2 text boxes, adjust number of grid-template-rows, adding a further 'auto'
*/
main {
  flex: 1;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 75px auto auto auto 5vh;    
  height: 50vh;
  margin-bottom: 0.25em;
}

main > div {
  margin: 5px;
  padding: 15px;
}

section {
margin: 5px;
padding: 15px;
}

/*GENERAL LINK STYLE*/
section a {
  color: var(--linkcolour-unv, #6F3A26);
  text-decoration: none;
  padding: 2px 4px;
  border-bottom: 1px #de754c dotted;
  border-radius: 5px 0;
}

section a:hover, section a:active {
  background-color: #9cebe0;
  padding: 2px 4px;
  border-bottom: none;
  border-radius: 5px 0;
}

.main-left-t {
  grid-column: 2 / 10;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bckg-colour-darker2, lightsalmon);
  border-radius: 15px 0;
}

.main-right-t {
  grid-column: 10 / 12;
  grid-row: 1 / 2;
  background-color: var(--list-marker-colour-odd, turquoise);
  border-radius: 15px 0;
}

.main-text {
  flex: 1;            /* Add to keep footer to bottom of page*/
  grid-column: 2 / 12;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  background-color: var(--basic-txt-bckg, wheat);
  font-family: var(--bodytext, Arial, Helvetica, sans-serif);
  color: var(--basic-txt-colour, darkslategray);
  border-radius: 15px 0;
}

.main-text p {
  margin: 0.5em 0;
}

/*--TESTIMONIALS--*/

#testimonials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 70vw;
  height: auto;
  margin: 0 auto;
}

.testimonials-img {
  max-width: 90%;
  height: auto;
  margin: 0.5em;
  border: 1px solid #C6C7AE;
}

#workshop-feedback {
  max-width: 90%;
  justify-self: center;
  border: 1px solid #C6C7AE;
  margin: 2em 0.5em;
}


/*--- ACCORDION LIST ---*/
/* Originally tried using the 'content' property for the up/down arrow; however, screen-readers don't pick up the 'content' property at all, hence the span-within-the-label solution*/

.accordion-container {
  margin: 0;
  padding: 0;
}
.accordion-item-wrapper {
  flex: 1;
  grid-column: 2 / 12;
  grid-row: 3 / 4;
  margin: 0.25em 0;
  padding: 1em 0;
  background-color: var(--basic-txt-bckg, wheat);
  font-family: var(--semibold-text, Arial, Helvetica, sans-serif);
  color: var(--basic-txt-colour, darkslategray);
  border-radius: 15px 0;
}

.accordion-item-heading {
  display: block;
  position: relative;
  font-size: 1.266em;
  cursor: pointer;
 
}

/*Hide the checkbox*/
.accordion-item-input {
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: 1em;
	overflow: hidden;
	position: absolute;
	left: -9999px;
}

.accordion-item-input:checked ~ .accordion-item-text {
	background-color: var(--basic-txt-bckg-dk1, lightgrey);
	padding: 1em;
	max-height: 1000px;
  margin: 0.75em 0;
  border-radius: 15px 0;
	-webkit-transition: max-height 0.15s ease-in, margin 0.15s ease-in, padding 0.15s ease-in;
	transition: max-height 0.15s ease-in, margin 0.15s ease-in, padding 0.15s ease-in;
}

/* Match accordion-item-headings only when they follow and are siblings of an accordion-item-input that is checked.*/

.accordion-item-input:checked ~ .accordion-item-heading > .acc-item-arrow {
	-webkit-transform: rotate(0);
	  -ms-transform: rotate(0);
	   transform: rotate(0);
}

.acc-item-arrow {
  display: block;
  position: absolute;
  right: 0;
  top: -0.3em;
  padding: 5px 6px;
  border-radius: 5px 0;
  background-color: var(--basic-txt-bckg-dk1, lightgray);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.acc-item-arrow > img {
  width: 1.125em;
  height: auto;
}

.acc-item-arrow:hover, .acc-item-arrow:active {
  background-color: var(--accent-colour1, darkturquoise);
}

.accordion-item-text {
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0;
  font-family: var(--bodytext, Arial, Helvetica, sans-serif);
  -webkit-transition: max-height .15s ease-out, margin-bottom .15s ease-out, padding .15s ease-out;
	-moz-transition: max-height .15s ease-out, margin-bottom .15s ease-out, padding .15s ease-out;
	-o-transition: max-height .15s ease-out, margin-bottom .15s ease-out, padding .15s ease-out;
	transition: max-height .15s ease-out, margin-bottom .15s ease-out, padding .15s ease-out;
}

/*---ACCESSIBLE & RESPONSIVE TABLE---*/
.table-wrapper {
  flex: 1;
  grid-column: 2 / 12;
  grid-row: 4 / 5;
  height: fit-content;    /*Specify height to display correctly on Chrome*/
  margin: 5px;
  padding: 15px;
  background-color: var(--basic-txt-bckg, wheat);
  color: var(--basic-txt-colour, darkslategray);
  border-radius: 15px 0;
  overflow: auto;
}

table {
  margin: 1em auto;
  text-align: center;
}

table caption {
  font-family: var(--semibold-text, Arial, Helvetica, sans-serif);
  font-size: var(--h3-font-size);
  margin-bottom: 1em;
  padding: 15px;
  background-color: var(--bckg-colour-darker1, salmon);
  border-radius: 15px 0;
}

th {
  font-family: var(--semibold-text, Arial, Helvetica, sans-serif);
  background-color:var(--basic-txt-bckg-dk1, lightgray);
  padding: 8px 16px;
  border-radius: 5px;
}

table, th, td {
  border: 2px;
  border-spacing: 8px;
}

tr:nth-child(even) {
  background-color: var(--basic-txt-bckg-lgt1, antiquewhite);
}

/*Combine both rules to prevent header from being styled as an odd row.*/
tr:nth-child(odd):not(:first-child) {
  background-color: var(--basic-txt-bckg-lgt2, linen);
}

td {
  padding: 8px 16px 8px 24px;
  min-width: max-content;
}

td a {
  padding-left: 0;
}

.blank-row {
  border-collapse: collapse;
}

.blank-row > td {
  background-color: var(--basic-txt-bckg-dk1, lightgray);
}

#table-comp-tasks {
  text-align: center;
}

#table-comp-tasks tr {
  text-align: center;
}

#table-comp-tasks th {
  text-align: center;
}

#table-comp-tasks th:first-child {
  text-align: left;
}

.td-text-left {
  text-align: left;
}

#table-comp-tasks td {
  text-align: center;
}


/*---FOOTER---*/

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: max-content;
  flex-shrink: 0;
  background-color: var(--bckg-colour-darker2, lightsalmon);
}

.footer-h3 {
  font-size: var(--h5-font-size);
  text-align: left;
  padding-left: 1.6em;
}

#back-to-top img {
  width: 1.5em;
  height: auto;
  background-color: #ECB19A;
  padding: 0.25em 0.35em;
  border-radius: 5px 0;
  margin: 0.5em auto;
}

#back-to-top img:hover, #back-to-top img:focus {
  background-color: var(--bckg-colour-darker1);
}

footer p {
  text-align: center;
}

.footer-ul {
  list-style-type: none;
  font-size: var(--small-text);
}

.footer-ul li {
  padding-bottom: 0.25em;
}

/*Adding a null border to the element's default state and the same padding to both the default and the hover/focus/active states prevents the jumpy side-effect of animations*/

.footer-ul a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--linkcolour-unv, #6F3A26);
  padding: 0.5em 0.4em;
  background-color: var(--bckg-colour-darker2, lightsalmon);
  border-width: 0;
  border-radius: 5px 0;
}

.footer-ul a:hover, .footer-ul a:focus {
  background-color: var(--accent-colour1, darkturquoise);
  padding: 0.5em 0.4em;
  border-radius: 5px 0;
}

#QR-code {
  padding: 0 0.6em 0 0.4em;
  text-align: left;
}

#QR-img {
  width: 8em;
  height: auto;
  vertical-align: top;
  padding-left: 0.6em;  
  float: right;
}

.footer-info{
  display: flex;
  flex-wrap: wrap;
}

#footer-copyright {
  font-size: var(--small-text);
  background-color: var(--bckg-colour-darker1, salmon);
  border-radius: 15px 0;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 0.5em;
}

#copyright {
  /* color: var(--list-marker-colour-odd, darkturquoise); */
  color:#734F40;
  background-color: #E9A78D;
  border-radius: 50%;
  padding: 0 3px;
  font-size: 1.266em;
  }


/*-------NAVBAR: MOBILE FIRST------*/

/* Screen reader only */
.scr-read-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  }
  
/* MENU BUTTON - MOBILE */

  .menu-toggle {
  display: inline-block;
  padding: 0.75em 20px;
  text-decoration: none;
}

.menu-toggle  img {
  width: 2.4em;
  height: auto;
  padding: 0.35em;
  border-radius: 5px 0;
  background-color: var(--basic-txt-bckg-lgt1, antiquewhite);
}

.menu-toggle img:hover,
.menu-toggle img:focus {
  background-color: var(--accent-colour2, lightseagreen);
}
  
  
.navbar {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  /* overflow-y: scroll;   ---In original example, this produces unsightly vertical scroll*/
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

#navbar-close {
  background-color: var(--bckg-colour-darker2, lightsalmon);
  border-radius: 50%;
  padding: 0.4em 0.5em;
  margin: 8px;
}

#navbar-close:hover, #navbar-close:focus {
 background-color: var(--accent-colour2, lightseagreen);
}

#X-button {
  width: 2em;
  height: auto;
}

#navlist {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
      -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 70vw;
  background-color: var(--sliding-menu-bckg, burlywood);
}

.navbar a {
  display: block;
  padding: 0.5em 0.75em;
  line-height: 1.125em;
  font-family: var(--medium-text, Arial, Helvetica, sans-serif);
  font-size: 1.125em;
  color: var(--basic-txt-colour, darkslategray);
  text-decoration: none;
}

.navbar li:first-child a {
  /* border-top: 1px solid #383838; */
  margin-top: 1.5em;
}

.navbar a:visited {
  color: #8F47B3;   /*Crayola medium violet  |  WCAG AA: 5.34:1*/
}

/*HIGHLIGHT THE CURRENT PAGE IN THE NAVBAR*/

.active-page {
  color: var(--linkcolour-unv, #6F3A26);
  background-color: var(--accent-colour2, lightseagreen);
  border-radius: 0;
}

  /*---- ANIMATE LINK UNDERLINE ----*/
  /* Add the 2nd class .animate-underline to the respective links */

a.animate-underline {
	position: relative;
}

/* Create underline with a pseudoclass. 
Set width to 100% to cover span the link text.
Set visibility to 'hidden' for the underline's default state.
 */

a.animate-underline:before {
position: absolute;
content: '';
width: 100%;
height: 3px;
bottom: 0;
left: 0;
visibility: hidden;
background-color: var(--accent-colour2, lightseagreen);
transform: scaleX(0);
transition: all 0.4s ease-in-out;
}

/* Set visibility to 'visible' on 'hover' and 'focus' */

a.animate-underline:hover:before, a.animate-underline:focus:before {
	visibility: visible;
	transform: scaleX(1);
}
  
.navbar .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/* Acc. to Medium article, target: pseudo-class is semantically superior to using checkboxes to open/close menu.
*/
.navbar:target,
.navbar[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

/*Clicking 'close' button OR anywhere in backdrop closes the sliding menu.*/
.navbar:target .menu-close,
.navbar[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.navbar:target ul,
.navbar[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

.navbar:target + .backdrop,
.navbar[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: var(--basic-txt-bckg-dk2, gainsboro);
  cursor: default;
}
  
/*--LOGO--*/
#logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 83.33%;
  height: auto;
  margin: 0.75em 10vw 0.25em auto;
  }

#logo img {
  width: 30vw;
  height: auto;
  margin: 0 12% 0 auto;
  }

/*---- HEADINGS ----*/

h1 {
  font-family: var(--semibold-text, Arial, Helvetica, sans-serif);
  font-size: var(--h1-font-size);
  margin: 10px 9vw 10px auto;
}

h2 {
  font-family: var(--medium-text, Arial, Helvetica, sans-serif);
  font-size: var(--h2-font-size);
}

h3 {
  font-family: var(--medium-text, Arial, Helvetica, sans-serif);
  font-size: var(--h3-font-size);
  margin: 0.5em 0;
}

h4 {
  font-family: var(--medium-text, Arial, Helvetica, sans-serif);
  font-size: var(--h4-font-size);
  margin: 0;
}

@supports (position: fixed) {
  .navbar,
  .navbar:target + .backdrop,
  .navbar[aria-expanded="true"] + .backdrop
  {
    position: fixed;
  }
}
  
  /* ----- LISTS - EXCEPTING NAVBAR ----- */

/*UNORDERED LIST*/

.plain-list {
  list-style-type: none;
  margin: 0.5em;
}

/*Negative text-indent to flush list content left*/
.plain-list li {
  text-indent: -1.1em;
}

/*Adjust bullet size and colour*/

.plain-list li::before {
  content: '•';
  font-size: 2.5em;
  vertical-align: middle;
  line-height: 0.5em;
}

.plain-list li:nth-child(odd) {
  color: var(--list-marker-colour-odd);
}

.plain-list li:nth-child(even) {
  color: var(--list-marker-colour-even, darkturquoise);
}

.plain-list span {
  color: var( --basic-txt-colour, darkslategray);
}

/*ORDERED LIST*/

.plain-o-list {
  list-style-type: none;
  counter-reset: li;
  margin: 0.5em;
}

.plain-o-list li {
  counter-increment: li;
  
}

.plain-o-list li::before {
  content: counter(li, lower-alpha) '.';
  color: #00aaaa;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
}

.plain-o-list span {
  font-family: var(--bodytext);
}

.accordion-item a {
  color: var(--linkcolour-unv, #6F3A26);
  text-decoration: none;
  padding: 2px 4px;
  border-bottom: 1px #de754c dotted;
  border-radius: 5px 0;
}


/*Simulate list with custom bullet and negative text-indent to flush text left*/
.mock-li {
  text-indent: -0.8em;
}

.mock-li-odd {
  color: var(--list-marker-colour-odd, turquoise);
  font-size: 0.95rem; 
}

.mock-li-even {
  color: var(--list-marker-colour-even, darkturquoise);
  font-size: 0.95rem; 
}

.nested-list {
  list-style-type: none;
  margin: 0.5em;
}

.nested-list li::before {
  content: '•';
  font-size: 1.602em;
  vertical-align: middle;
  line-height: 0.5em;
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: 0.3rem;
}

.section-list {
  background-color: var(--section-bckg-grey, #dcddc6);
  padding: 0.5em 1.5em;
  border-radius: 15px 0;
  margin: 0.5em 0;
}

.section-list p {
  padding-left: 0;
}

.section-list .plain-list {
  padding-left: 0.5em;
}

/*FORMS*/
#form-container {
  width: 90%;
  height: 70vh;
}

#form-h3 {
  background-color: var(--basic-txt-bckg-dk2, gainsboro);
  border-radius: 15px 0;
  padding: 15px;
}

/*---ANIMATIONS EXCEPT NAVBAR---*/


/*Animate targeted element and restore when redirection is complete*/

#contact_EF {
  padding: 0;
  border-bottom: 3px var(--bckg-colour-darker2, salmon) solid;
}

#contact_EF:target {
  animation: temp-target-highlight 2.5s linear;
}

@keyframes temp-target-highlight {
  50% {
    border-bottom-color: var(--accent-colour1, turquoise);
  }
  100% {
    border-bottom-color: var(--bckg-colour-darker2, salmon);
  }
}
  


  /* ------ MEDIA QUERIES: LARGE SCREENS ------  */

@media (min-width: 768px) {

      
  .menu-toggle, .navbar .menu-close {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
  }

/*--LOGO - LARGE SCREENS--*/

  #logo {
    width: 12em;
    height: auto;
    margin: 0.5em 2em 2em 0.5em;
  }

  #logo img {
    width: 10em;
    height: auto;
    margin: 0 auto;
    vertical-align: middle;
  }
  
  /*NAVBAR FOR LARGE SCREENS*/
  .navbar {
    position: relative;
        left: auto;
        top: auto;
        height: auto;
    display: block;
  }
  
  #navlist {
    display: flex;
    align-items: flex-start;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-height: 2em;
    width: auto;
    padding: 0.75em 0 0 0;
    background-color: var(--body-bckg-colour);
    
  }

  .navbar a {
    font-size: 1em;
    color: var(--linkcolour-unv, #6F3A26);
    border: 0 !important; 
  }
  
  /*Using transform+scale to increasing font size apparently prevents browser repaints and is therefore smoother.*/
  .navbar a:hover,
  .navbar a:focus {
    color: var(--linkcolour-unv, #6F3A26);
    transform: scale(110%, 110%);
  }

  .active-page {
    color: var(--linkcolour-unv, #6F3A26);
    background-color: var(--basic-txt-bckg-lgt1, antiquewhite);
    border-radius: 5px 0;
  }

  #navlist li {
    padding: 3em 0.5em 0 0.5em;  
    text-align: center;
}


#navlist li:first-child a {
    margin-top: 0;
}

/*--- MAIN STYLING FOR LARGE SCREENS ---*/

#sidebar {
  grid-column: 12 / 13;
  grid-row: 1 / 3;
  background-color: var(--body-bckg-colour);
}


main {
  flex: 1;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 75px auto;
}

main > div {
  margin: 5px;
  padding: 20px;
}

.main-left-t {
  grid-column: 2 / 8;
  grid-row: 1 / 2;
  
}

.main-right-t {
  grid-column: 8 / 12;
  grid-row: 1 / 2;
}

.main-text {
  grid-column: 2 / 12;
  grid-row: 2 / 3;
  padding: 1em 2em;
}

/*--TESTIMONIALS - LARGE SCREENS--*/

#testimonials-container {
  width: 70vw;
}

#workshop-feedback {
  justify-self: center;
  width: 80%;
  margin: 2em 3em 1em 3em;
}

.testimonials-img {
  margin: 1em;
}


/*--FOOTER - LARGE SCREENS--*/
footer {
  margin-top: 1em;
}

footer a:visited {
  color: #4b2d72;       /*WCAG AA: 5:1*/
}

#QR-img {
  vertical-align: top;
  padding-left: 0.6em;  
  float: left;
}

.footer-info {
  flex: 1;
  justify-content: space-evenly;
  min-width: 80%;
}

.footer-h3 {
  text-align: left;
  padding-left: 2.5em;
}

footer ul > li {
  padding-left: 1em;
  padding-bottom: 0;
}

h1 {
  margin: 10px 40px auto 20px;
}

/*LISTS - LARGE SCREENS*/

.section-list p {
  padding-left: 1em;
}

.section-list .plain-list {
  padding-left: 1.5em;
}

.mock-li-odd, .mock-li-even {
  font-size:1em; 
}

/*ACCORDION - LARGE SCREENS*/

.accordion-container {
  margin: 0 1em;
}

}
