/* For effects, see https://tympanus.net/Tutorials/CreativeCSS3AnimationMenus/index2.html */

/* For the CSS target: selector technique, see also: https://developer.mozilla.org/en-US/docs/Web/CSS/:target*/
/* For the CSS accordion with the checkbox hack: https://code-boxx.com/simple-responsive-accordion-pure-css/*/
/* Possibly restyle lists when ::marker pseudoelement gains wider browser support. */
/* Dropdown navigation menus and why it's best to avoid them in simple websites:
https://www.nngroup.com/articles/drop-down-menus/
*/

/*
TYPE SCALE: Major Second 1.125
running text: 1em
navbar links: 1.125em
h1 {font-size: 1.802em;}
h2 {font-size: 1.602em;}
h3 {font-size: 1.424em;}
h4 {font-size: 1.266em;}
h5 {font-size: 1.125em;}
small, .text_small {font-size: 0.889em;}
*/


:root {
  /*FONTS*/
  --bodytext: 'Raleway', Arial, sans-serif;
  --medium-text: 'Raleway Medium', Arial, Helvetica, sans-serif;
  --semibold-text: 'Raleway Semibold', Arial, sans-serif;
  /*COLOURS - ACCENTS*/
  --accent-colour1: #4EDCC9;    /*base colour: Pantone #4EDCCA*/
  --accent-colour2: #71E3D3;    /*base colour: Pantone #4EDCCA*/
  /* #CA9171; */
  /*COLOURS - BACKGROUNDS*/
  --body-bckg-colour: 	#F8F9F8;
  --bckg-colour-darker1: #e4906f;   /*tint of Pantone #de754c*/
  --bckg-colour-darker2: #e79e81;   /*tint of Pantone #de754c*/
  --list-marker-colour-even: 	#30BFBF;  /*Crayola Maximum Blue Green*/
  --list-marker-colour-odd:  	#00CCCC;  /*Crayola Robin's Egg Blue*/
  --basic-txt-bckg: #e3e4cd;        /* tint of Pantone #c7ca9c*/
  --basic-txt-bckg-dk1: #dddec2;  /* tint of Pantone #c7ca9c*/
  --basic-txt-bckg-dk2: 	rgba(204, 205, 184, 0.918); /*Reduced opacity of shade of basic-txt-bckg #CCCDB8;*/
  --basic-txt-bckg-lgt1: 	#EBECDC;
  --basic-txt-bckg-lgt2: 	#E8E9D7;
  --sliding-menu-bckg: #e4906f;     /*tint of Pantone #de754c*/
  /*COLOURS - TEXT*/
  --linkcolour-unv: #1f1812;     /*shade of cocoabrown #35281e*/
  --basic-txt-colour: #1f1812;  /*shade of cocoabrown #35281e*/
  /*TEXT SIZES*/
  --bodytext-size: 1em;
  --navbar-link-size: 1.125em;
  --h1-font-size: 1.802em;
  --h2-font-size: 1.602em;
  --h3-font-size: 1.424em;
  --h4-font-size: 1.266em;
  --h5-font-size: 1.125em;
  --small-text: 0.889em;
}

@font-face {
  font-family: 'Raleway';
  src: 
    local('Raleway'),
    url('Assets/Fonts/Raleway-Regular.ttf'),
    format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src:
  local('Raleway-Medium'),
  url('Assets/Fonts/Raleway-Medium.ttf'),
  format('truetype');
}

@font-face {
  font-family: 'Raleway';
  src:
  local('Raleway-SemiBold'),
  url('Assets/Fonts/Raleway-SemiBold.ttf'),
  format('truetype');
}

@font-face {
  font-family: 'Segoe';
  src:
  local('Segoe MDL2 Assets'),
  url('Assets/Fonts/segmdl2.ttf'),
  format('truetype');
}

.icon-font {
  font-family: 'Segoe MDL2 Assets', Arial, sans-serif;
}

/*----- MOBILE FIRST ----*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: var(--bodytext, Arial, Helvetica, sans-serif);
  font-size: calc(12px + 0.4vw);
  background-color: var(--body-bckg-colour);
 }

header, footer {
  width: 100vw;
}

header {
  display: flex;
  height: max-content;
  margin-bottom: 15px;
  background-color: var(--body-bckg-colour);
}

/* Shift sidebar to bottom of mobile screen. */

#sidebar {
  grid-column: span 12;
  grid-row: 4 / 5;
  background-color: var(--body-bckg-colour);
}

/*
--Add a fixed-height row for sidebar to the grid of 'main.
--ESSENTIAL: add flex: 1 to 'main' to ensure the footer is sticky.
-- Where >2 text boxes, adjust number of grid-template-rows, adding a further 'auto'
*/
main {
  flex: 1;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 75px auto auto auto 5vh;    
  height: 50vh;
  margin-bottom: 0.25em;
}

main > div {
  margin: 5px;
  padding: 15px;
}

section {
margin: 5px;
padding: 15px;
}

.main-left-t {
  grid-column: 2 / 10;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bckg-colour-darker2, darkturquoise);
  border-radius: 15px 0;
}

.main-right-t {
  grid-column: 10 / 12;
  grid-row: 1 / 2;
  background-color: var(--list-marker-colour-odd, turquoise);
  border-radius: 15px 0;
}

.main-text {
  flex: 1;            /* Add to keep footer to bottom of page*/
  grid-column: 2 / 12;
  grid-row: 2 / 3;
  background-color: var(--basic-txt-bckg, wheat);
  font-family: var(--bodytext, Arial, Helvetica, sans-serif);
  color: var(--basic-txt-colour, darkslategray);
  border-radius: 15px 0;
}

/*--- ACCORDION LIST ---*/
/* Originally tried using the 'content' property for the up/down arrow; however, screen-readers don't pick up the 'content' property at all, hence the span-within-the-label solution*/
.accordion-wrapper {
  flex: 1;
  grid-column: 2 / 12;
  grid-row: 3 / 4;
  list-style: none;   /* none outside*/
  margin: 5px;
  padding: 15px;
  background-color: var(--basic-txt-bckg, wheat);
  font-family: var(--semibold-text, Arial, Helvetica, sans-serif);
  color: var(--basic-txt-colour, darkslategray);
  border-radius: 15px 0;
}

.accordion-item-heading {
  display: block;
  position: relative;
  font-size: 1.266em;
  cursor: pointer;
}

.accordion-item {
  padding: 0;
  margin: 0;
 }

/*Hide the checkbox*/
.accordion-item-input {
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1;
	overflow: hidden;
	position: absolute;
	left: -9999px;
}

.accordion-item-input:checked ~ .accordion-item-text {
	background-color: var(--basic-txt-bckg-dk1, gainsboro);
	padding: 15px;
	max-height: 1000px;
  padding-top: 1em;
  margin: 0.75em 0;
  border-radius: 15px 0;
	-webkit-transition: max-height 0.15s ease-in, margin 0.15s ease-in, padding 0.15s ease-in;
	transition: max-height 0.15s ease-in, margin 0.15s ease-in, padding 0.15s ease-in;
}

/* Match accordion-item-headings only when they follow and are siblings of an accordion-item-input that is checked.*/

.accordion-item-input:checked ~ .accordion-item-heading > .acc-item-arrow {
	-webkit-transform: rotate(0);
	  -ms-transform: rotate(0);
	   transform: rotate(0);
}

.acc-item-arrow {
  display: block;
  position: absolute;
  right: 0;
  top: -0.3em;
  padding: 5px 6px;
  border-radius: 5px 0;
  font-family: 'Segoe MDL2 Assets';
  background-color: var(--basic-txt-bckg-dk1, lightgray);
  -webkit-transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.acc-item-arrow:hover, .acc-item-arrow:active {
  background-color: var(--accent-colour1, darkturquoise);
}

.accordion-item-text {
  overflow: hidden;
  max-height: 0;
  margin-bottom: 0;
  font-family: var(--bodytext, Arial, Helvetica, sans-serif);
  -webkit-transition: max-height .15s ease-out, margin-bottom .15s ease-out, padding .15s ease-out;
	-moz-transition: max-height .15s ease-out, margin-bottom .15s ease-out, padding .15s ease-out;
	-o-transition: max-height .15s ease-out, margin-bottom .15s ease-out, padding .15s ease-out;
	transition: max-height .15s ease-out, margin-bottom .15s ease-out, padding .15s ease-out;
}

/*---ACCESSIBLE & RESPONSIVE TABLE---*/
.table-wrapper {
  flex: 1;
  grid-column: 2 / 12;
  grid-row: 4 / 5;
  margin: 5px;
  padding: 15px;
  background-color: var(--basic-txt-bckg, wheat);
  color: var(--basic-txt-colour, darkslategray);
  border-radius: 15px 0;
  overflow: auto;
}

table {
  margin: 1em auto;
}

table caption {
  font-family: var(--semibold-text, Arial, Helvetica, sans-serif);
  font-size: var(--h3-font-size);
  margin-bottom: 1em;
  padding: 15px;
  background-color: var(--bckg-colour-darker1);
  border-radius: 15px 0;
}

th {
  font-family: var(--semibold-text, Arial, Helvetica, sans-serif);
  background-color:var(--basic-txt-bckg-dk1, lightgray);
  padding: 8px 16px;
  border-radius: 5px;
}

table, th, td {
  border: 2px;
  border-spacing: 8px;
}

tr:nth-child(even) {
  background-color: var(--basic-txt-bckg-lgt1, antiquewhite);
}

/*Combine both rules to prevent header from being styled as an odd row.*/
tr:nth-child(odd):not(:first-child) {
  background-color: var(--basic-txt-bckg-lgt2, linen);
}

td {
  padding: 8px 16px 8px 24px;
}

#blank-row > td {
  border-collapse: collapse;
  background-color: var(--basic-txt-bckg, wheat);
}


/*---FOOTER---*/

footer {
  display: flex;
  justify-content: center;
  height: max-content;
  flex-shrink: 0;
  background-color: var(--bckg-colour-darker2, darkturquoise);
}

footer p {
  text-align: center;
}

/*-------NAVBAR: MOBILE FIRST------*/

/* Screen reader only */
.scr-read-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }
  
  /* MENU BUTTON - MOBILE */

   .menu-toggle {
    display: inline-block;
    padding: 0.25em 20px;
    font-size: 2em;
    color: #333;
    text-decoration: none;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: var(--accent-colour2, darkturquoise);
  }
  
  
  .navbar {
    position: absolute;
    display: none;
    left: -200px;
    top: 0;
    height: 100%;
      /* overflow-y: scroll;   ---In original example, this produces unsightly vertical scroll*/
      overflow-x: visible;
      transition: left 0.3s ease, box-shadow 0.3s ease;
      z-index: 999;
  }
  
#navbar-close {
  font-size: 1.5em;
  background-color: var(--bckg-colour-darker2, lightsalmon);
  border-radius: 50%;
  padding: 0.4em 0.5em;
  margin: 8px;
}

#navbar-close:hover, #navbar-close:focus {
 background-color: var(--accent-colour2, darkturquoise);
}

  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
       -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            box-shadow: -8px 0 8px rgba(0,0,0,.5);
    min-height: 100%;
    width: 70vw;
    background-color: var(--sliding-menu-bckg, burlywood);
  }
  
  .navbar a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-family: var(--medium-text, Arial, Helvetica, sans-serif);
    font-size: 1.125em;
    color: var(--linkcolour-unv);
    text-decoration: none;
    /* border-bottom: 1px solid #383838; */
  }
  
  .navbar li:first-child a {
    /* border-top: 1px solid #383838; */
    margin-top: 1.5em;
  }


  /*---- ANIMATE LINK UNDERLINE ----*/
  /* Add the 2nd class .animate-underline to the respective links */

a.animate-underline {
	position: relative;
}

/* Create underline with a pseudoclass. 
Set width to 100% to cover span the link text.
Set visibility to 'hidden' for the underline's default state.
 */

a.animate-underline:before {
position: absolute;
content: '';
width: 100%;
height: 3px;
bottom: 0;
left: 0;
visibility: hidden;
background-color: var(--accent-colour2, lightseagreen);
transform: scaleX(0);
transition: all 0.4s ease-in-out;
}

/* Set visibility to 'visible' on 'hover' and 'focus' */

a.animate-underline:hover:before, a.animate-underline:focus:before {
	visibility: visible;
	transform: scaleX(1);
}
  
  .navbar .menu-close {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Acc. to Medium article, target: pseudo-class is semantically superior to using checkboxes to open/close menu.
  */
  .navbar:target,
  .navbar[aria-expanded="true"] {
    display: block;
    left: 0;
    outline: none;
    -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
    box-shadow: 3px 0 12px rgba(0,0,0,.25);
  }
  
  /*Clicking 'close' button OR anywhere in backdrop closes the sliding menu.*/
  .navbar:target .menu-close,
  .navbar[aria-expanded="true"] .menu-close {
    z-index: 1001;
  }
  
  .navbar:target ul,
  .navbar[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000;
  }
  
  .navbar:target + .backdrop,
  .navbar[aria-expanded="true"] + .backdrop{
    position: absolute;
    display: block;  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: var(--basic-txt-bckg-dk2, gainsboro);
    cursor: default;
  }
  
/*--LOGO--*/
#logo {
  width: 83.33%;
  height: auto;
  margin: 0.2em auto;
}

#logo img {
  width: 90%;
  height: auto;
}

/*---- HEADINGS ----*/

h1 {
  font-family: var(--semibold-text, Arial, Helvetica, sans-serif);
  font-size: var(--h1-font-size);
  margin: 10px 9vw 10px auto;
}

h2 {
  font-family: var(--medium-text, Arial, Helvetica, sans-serif);
  font-size: var(--h2-font-size);
}

h3 {
  font-family: var(--medium-text, Arial, Helvetica, sans-serif);
  font-size: var(--h3-font-size);
  margin: 0;
}

  @supports (position: fixed) {
    .navbar,
    .navbar:target + .backdrop,
    .navbar[aria-expanded="true"] + .backdrop
    {
      position: fixed;
    }
  }
  
  /* ----- LISTS - EXCEPTING NAVBAR ----- */

.plain-list {
  list-style-type: none;
}

/*Adjust bullet size and colour*/

.plain-list li::before {
  content: '•';
  font-size: 2.5em;
  vertical-align: middle;
  line-height: 0.5em;
}

.plain-list li:nth-child(odd) {
  color: var(--list-marker-colour-odd);
}

.plain-list li:nth-child(even) {
  color: var(--list-marker-colour-even);
}

.plain-list span {
  color: var( --basic-txt-colour, darkslategray);
}

dt {
  font-weight: 500;
}

dd {
  margin-bottom: 0.3rem;
}



  /* ------ MEDIA QUERIES: LARGE SCREENS ------  */

  @media (min-width: 768px) {

        
    .menu-toggle, .navbar .menu-close {
      display: none;
    }

    header {
      display: flex;
      flex-direction: row;
    }

    #logo {
      width: 14em;
      height: auto;
      margin: 0.5em;
    }
    
   /*DISPLAY MENU*/
    .navbar {
      position: relative;
          left: auto;
          top: auto;
          height: auto;
      display: block;
    }
    
    .navbar ul {
      display: flex;
      align-items: center;
      padding: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      height: auto;
      width: auto;
      background-color: var(--body-bckg-colour);
      }
    
    .navbar a {
      font-size: 1em;
      color: var(--linkcolour-unv);
      border: 0 !important; 
    }
    
    .navbar a:hover,
    .navbar a:focus {
      color: var(--linkcolour-unv);
      font-size: 110%;
    }

    #navlist li {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 0;
  }


  .navbar li:first-child a {
      margin-top: 0;
  }

  /*--- MAIN STYLING FOR LARGE SCREENS ---*/

  #sidebar {
    grid-column: 12 / 13;
    grid-row: 1 / 3;
    background-color: var(--body-bckg-colour);
  }
  
  
  main {
    flex: 1;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 75px auto;
  }
  
  main > div {
    margin: 5px;
    padding: 20px;
  }
  
  .main-left-t {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    
  }
  
  .main-right-t {
    grid-column: 8 / 12;
    grid-row: 1 / 2;
  }
  
  .main-text {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
  }

  footer {
    margin-top: 1em;
  }

  
  h1 {
    margin: 10px 40px auto 20px;
  }

}
